# Martin VJ
Martin Vågseter Jakobsen <martivj@stud.ntnu.no> Martin Vågseter Jakobsen <martivj@stud.ntnu.no>
Martin Vågseter Jakobsen <martivj@stud.ntnu.no> martivj <martinvagseterjakobsen@yahoo.no>

# Martin R
Martin Sandaker Reve <martirev@stud.ntnu.no> Martin Sandaker Reve <martirev@stud.ntnu.no>

# Philip

# Kristoffer

# Johanne

# Lise
Lise Lundanes <liselun@stud.ntnu.no> Lise Lundanes <liselun@stud.ntnu.no>
# Mona
