.listView {
  background-color: rgb(225, 247, 255);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 2%;
  padding: 8px;
  border: 1.25px solid rgb(146, 143, 143);
  border-radius: 10px;
  font-size: large;
  font-weight: 800;
  color: rgb(62, 94, 107);
  width: 75%;
  height: 10%;
}

.categoryCheck{
  width: 14px;
}