.user-page-container {
    font-family: 'Arial', sans-serif;
    color: #E0E0E0; 
    background-color: #2D2D2D; 
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-top: 1%;
  }
  
  .userinfo-title {
    background-color: #37474F; 
    color: #E0E0E0; 
    padding: 20px;
    border-bottom: 2px solid #555; 
    border-radius: 10px;
    margin-left: 6%;
    margin-right: 6%;
  }
  
  .userinfo-title h2 {
    margin-left: 10px;
  }
  
  .lists-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
  }
  
  .list-view {
    background-color: #37474F; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    width: 48%;
    height: 55vh;
    overflow: auto;
  }
  
  .list-view p {
    color: #BDBDBD; 
    font-size: 1em;
    margin: 16px 16px 16px;
  }
  
  .favorites,
  .queue,
  .ratings {
    color: #E0E0E0; 
    font-size: 1.2em;
    margin: 0px 16px 0px;
    position: sticky;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0;
    background-color: #37474F; 
    z-index: 1;
  }
  
  ::-webkit-scrollbar-track {
    background: #37474F; 
  }
  