.sidebar {
  height: 100%;
  width: 20%;
  padding: 8px;
  position: fixed;
  background-color: rgb(111, 171, 194);
  border: 1.25px solid rgb(111, 110, 110);
  border-radius: 10px;
  margin-left: 1.5%;
  font-size: x-large;
  font-weight: 800;
  color: white;
  display: flex;
  flex-direction: column;
}

.sidebarSubSection {
  font-size: large;
  font-weight: 600;
  color: rgb(225, 247, 255);
  cursor: pointer;
}
