.header {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  padding-bottom: 2px;
  justify-content: center;
  align-items: center; 
  font-size: 2em;
  background-color: rgba(251, 255, 255, 0.681);
  width: 100%;
  height: 116px;
}

.header div {
  width: 33%; 
}

.adSpace,
.logo,
.controls {
  display: flex;
  align-items: center;
}

.logo {
  justify-content: center;
}

.controls {
  justify-content: flex-end;
  gap: 20px;
  padding-right: 30px;
}

.header .adSpace {
  width: 70%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.6em; 
  background-color: lightgray; 
  border: 2px solid black; 
}
