.header {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: space-between;
  font-family: "Courier New", cursive;
  font-size: 2em;
  background-color: rgba(251, 255, 255, 0.681);
  margin-top: 10px;
}
.header div {
  width: 33%;
}

.header img {
  margin-top: 0px;
  margin-right: 10px;
}
