.gameContainer {
  flex-direction: row;
  flex-direction: column;
  width: 1000px;
  margin: auto;
  margin-top: 10px;
}

.topSection {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 20px;
}

.text {
  margin-right: 30px;
}

.detailsHeader {
  width: 70%;
  border: 3px solid #90b5cf;
  padding: 15px;
  border-radius: 20px;
  background-color: rgb(225, 247, 255);
  padding-bottom: 30px;
}

.imgContainer {
  position: relative;
}

.imgDetails {
  width: 300px;
}

.categoriesDetail {
  font-weight: 500;
}

.rules {
  padding-top: 20px;
  margin-left: 10px;
}

.commentsContainer {
  margin-left: 10px;
  flex-grow: 1;
}

.commentsTimerContainer {
  display: flex;
  align-items: flex-start;
  
}
.avgrating {
  font-weight: 700;
  text-align: left;
}

.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.category {
  border-radius: 99999px;
  padding: 0.2rem 0.5rem;
  background-color: rgb(145, 193, 193);
  margin: 5px;
  margin-bottom: 10px;
}


.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.gameDetailsButtons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}